body, body > header, body > main, body > footer {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    letter-spacing: 1px;
    color: white;
    background: #121212;
}

body > body > hr {
    visibility: hidden;
}

body > hr {
    border-top: 1px solid white;
}

body > header {
    margin-top: 1rem;
}